<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investments">Initial Investment</label>
      <input
        id="initial-investments"
        name="initial-investments"
        type="number"
        [(ngModel)]="enteredInitialInvestment"
      />
    </p>
    <p>
      <label for="annual-investments">Annual Investment</label>
      <input
        id="annual-investments"
        name="annual-investments"
        type="number"
        [(ngModel)]="enteredAnnualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        id="expected-return"
        name="expected-return"
        type="number"
        [(ngModel)]="enteredExpectedReturn"
      />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        id="duration"
        name="duration"
        type="number"
        [(ngModel)]="enteredDuration"
      />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
